h1, h2, h3 {
    text-align: center;
}

.bio {
    border: 3px solid #111110;
    margin: auto;
    width: 60%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 10px;
}

.photo {
    margin: auto;
    width: 60%;
    padding: 0px;
}

.list {
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    width: 60%;
}

.fproject {
    border: 3px solid black;
    margin: auto;
    width: 60%;
    height: 955px;
    border-radius: 10px;
    background-color: rgb(209, 205, 205);
}
